[Unit]
Description=LCD Display Splash + UI
After=multi-user.target
Requires=dev-spidev1.0.device
After=dev-spidev1.0.device

[Service]
ExecStart=/usr/local/bin/display_driver
WorkingDirectory=/usr/local/share/display_driver
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target